Repository pontem-network/dove, pull requests merged in 2021-04, with the labels that each got.

#19 fix printing result to stdout if path is `-` or omitted
  Cargo.lock
  resource-viewer/Cargo.toml
  resource-viewer/src/main.rs
Labels: resource viewer

#20 [WiP] Milestone 3
  Cargo.lock
  resource-viewer/Cargo.toml
  resource-viewer/src/main.rs
  resource-viewer/src/sp_client.rs
Labels: resource viewer

#23 Merge changes from `dfinance/move-tools` master into this master
  .github/workflows/ci.yaml
  .github/workflows/release-ext.yml
  Cargo.lock
  dove/resources/test_move_project/Dove.toml
  dove/resources/test_move_project/stdlib/debug.move
  dove/src/cmd/metadata.rs
  dove/src/cmd/mod.rs
  dove/src/context.rs
  dove/src/manifest.rs
  lang/Cargo.toml
  lang/src/compiler/location.rs
  language_server/Cargo.toml
  language_server/src/main_loop.rs
  language_server/src/req.rs
  language_server/tests/test_compilation_check.rs
  language_server/tests/test_lsp.rs
Labels: ci, compiler

#26 Added package option to dove build command.
  Cargo.lock
  dove/Cargo.toml
  dove/src/cmd/build.rs
  dove/src/manifest.rs
  lang/src/compiler/file.rs
Labels: compiler

#29 disassembler readme & fix serde
  README.md
  lang/disassembler/Cargo.toml
Labels: disassembler, documentation
