Repository pontem-network/dove, pull requests merged in 2021-05, with the labels that each got.

#32 Fix changelog generation process for releases
  .github/workflows/release-new.yml
Labels: ci

#31 CI: enable windows builds
  .github/workflows/ci.yaml
  .github/workflows/release-ext.yml
  .github/workflows/release-tools.yml
Labels: ci

#37 Fixed layout parsing.
  dove/src/index/meta.rs
  dove/src/manifest.rs
  lang/src/compiler/dialects/dfinance/mod.rs
  lang/src/compiler/dialects/diem/mod.rs
  lang/src/compiler/dialects/pontem/mod.rs
Labels: compiler

#40 native balances support for the test runner
  Cargo.lock
  check_project.sh
  executor/src/execution.rs
  executor/src/meta.rs
  executor/src/oracles.rs
  executor/tests/test_executor.rs
  resources/assets/.gitignore
  resources/assets/Dove.toml
  resources/assets/stdlib/account.move
  resources/assets/stdlib/event.move
  resources/assets/stdlib/pont.move
  resources/assets/stdlib/pontem.move
  resources/assets/tests/01_create_record.move
Labels: test resources

#43 Fix for windows file endings.
  lang/decompiler/src/lib.rs
  lang/src/compiler/dialects/line_endings.rs
Labels: compiler, decompiler

#44 Fixed pont stdlib dependency.
  README.md
  dove/src/cli.rs
  dove/src/cmd/init.rs
  dove/src/cmd/mod.rs
  dove/src/cmd/tx.rs
  executor/Cargo.toml
  net/Cargo.toml
  resource-viewer/Cargo.toml
Labels: documentation, resource viewer

#51 CI: fix wasm-bindgen version for release pipeline
  .github/workflows/release-ext.yml
Labels: ci
