Repository pontem-network/dove, pull requests merged in 2021-07, with the labels that each got.

#74 Added doc-gen feature.
  Cargo.lock
  dove/Cargo.toml
  dove/src/cli.rs
  dove/src/cmd/build.rs
  dove/src/cmd/docgen.rs
  dove/src/cmd/mod.rs
  dove/src/cmd/tx.rs
  dove/src/docs/mod.rs
  dove/src/docs/options.rs
  dove/src/index/meta.rs
  dove/src/lib.rs
  dove/src/manifest.rs
  executor/Cargo.toml
  executor/src/executor.rs
  executor/src/session.rs
  lang/Cargo.toml
  lang/decompiler/src/lib.rs
  lang/src/compiler/mod.rs
  lang/src/compiler/parser.rs
  lang/src/flow/builder.rs
  lang/src/flow/checker.rs
  lang/src/flow/meta_extractor.rs
Labels: compiler, decompiler

#81 Compiler refactoring
  Cargo.lock
  dove/Cargo.toml
  dove/src/cmd/build.rs
  dove/src/cmd/docgen.rs
  dove/src/cmd/metadata.rs
  dove/src/cmd/prover.rs
  dove/src/cmd/test.rs
  dove/src/context.rs
  dove/src/index/meta.rs
  dove/src/index/mod.rs
  dove/src/index/resolver/chain/mod.rs
  dove/src/index/resolver/git.rs
  dove/src/index/store.rs
  dove/src/manifest.rs
  dove/src/transaction.rs
  dove/tests/test_cmd_dove_tx.rs
  executor/Cargo.toml
  executor/tests/test_executor.rs
  lang/decompiler/Cargo.toml
  lang/decompiler/src/lib.rs
  lang/src/compiler/dialects/dfinance/mod.rs
  lang/src/compiler/dialects/diem/mod.rs
  lang/src/compiler/dialects/mod.rs
  lang/src/compiler/dialects/pontem/mod.rs
  lang/src/compiler/file.rs
  lang/src/compiler/metadata.rs
  lang/src/compiler/mod.rs
  lang/src/compiler/preprocessor.rs
  lang/src/flow/builder.rs
  lang/src/flow/mod.rs
  language_server/src/inner/analysis.rs
  language_server/src/inner/config.rs
Labels: compiler, decompiler

#84 dove build :: git :: message when there is no network
  dove/src/index/resolver/git.rs
Labels: bug

#89 ci: fix changelog gen
  .github/workflows/release-new.yml
Labels: ci
