Repository pontem-network/dove, pull requests merged in 2021-06, with the labels that each got.

#64 Fix for error mapping.
  Cargo.lock
  dove/Cargo.toml
  dove/src/index/meta.rs
  lang/Cargo.toml
  lang/src/compiler/parser.rs
Labels: compiler

#63 [PONC-151] Remove ConstPool
  Cargo.lock
  dove/src/cli.rs
  dove/src/index/meta.rs
  executor/src/bin/executor.rs
  executor/src/bin/testrunner.rs
  executor/tests/test_executor.rs
  lang/decompiler/src/lib.rs
  lang/src/compiler/mod.rs
  lang/src/compiler/parser.rs
  language_server/src/main_loop.rs
  language_server/tests/test_compilation_check.rs
  language_server/tests/test_lsp.rs
Labels: compiler, decompiler

#55 [PONC-69] Move prover integration
  .github/workflows/ci.yaml
  Cargo.lock
  dove/Cargo.toml
  dove/src/cli.rs
  dove/src/cmd/mod.rs
  dove/src/cmd/prover.rs
  dove/src/manifest.rs
  lang/src/compiler/parser.rs
Labels: ci, compiler
