Repository pontem-network/dove, pull requests merged in 2021-03, with the labels that each got.

#4 Update to ct documentation
  README.md
Labels: documentation

#6 Build all option.
  dove/src/cmd/build.rs
Labels: ci, compat, compiler, disassembler, resource viewer

#3 replace libra 1.0 with diem 1.1.4.
  .github/workflows/ci.yaml
  .github/workflows/release-ext.yml
  Cargo.lock
  common/dnode-rest-client/Cargo.toml
  common/dnode-rest-client/src/blocking.rs
  dove/Cargo.toml
  dove/src/cmd/build.rs
  dove/src/cmd/ct.rs
  dove/src/cmd/new.rs
  dove/src/index/meta.rs
  dove/src/index/mod.rs
  dove/src/index/resolver/chain/loader.rs
  dove/src/index/resolver/chain/mod.rs
  dove/src/index/resolver/git.rs
  dove/src/index/store.rs
  dove/src/manifest.rs
  executor/Cargo.toml
  executor/src/bin/executor.rs
  executor/src/constants.rs
  executor/src/execution.rs
  executor/src/executor.rs
  executor/src/explain.rs
  executor/src/meta.rs
  executor/src/oracles.rs
  executor/src/session.rs
  lang/Cargo.toml
  lang/compat/Cargo.toml
  lang/compat/src/lib.rs
  lang/disassembler/Cargo.toml
  lang/disassembler/src/lib.rs
  lang/src/builder.rs
  lang/src/checker.rs
  lang/src/compiler/address.rs
  lang/src/compiler/dialects/dfinance/mod.rs
  lang/src/compiler/dialects/libra/addresses.rs
  lang/src/compiler/dialects/libra/mod.rs
  lang/src/compiler/dialects/mod.rs
  lang/src/compiler/dialects/polkadot/mod.rs
  lang/src/compiler/error.rs
  lang/src/compiler/mod.rs
  lang/src/compiler/parser.rs
  lang/src/compiler/source_map.rs
  lang/src/lib.rs
  lang/src/meta_extractor.rs
  lang/tests/compat.rs
  language_server/Cargo.toml
  language_server/src/inner/db.rs
  language_server/src/main_loop.rs
  resource-viewer/Cargo.toml
  resource-viewer/src/main.rs
  resource-viewer/src/ser.rs
  resource-viewer/src/sp_client.rs
  resource-viewer/src/tte.rs
Labels: ci, compat, compiler, disassembler, resource viewer

#8 pontem related fixes
  dove/src/cmd/init.rs
  executor/src/oracles.rs
  resource-viewer/README.md
  resource-viewer/src/main.rs
Labels: resource viewer

#5 add coverage tests
  .github/grcov.yml
  .github/workflows/ci.yaml
Labels: ci

#14 CI: remove unnecessary huge & expansive tests
  .github/workflows/ci.yaml
Labels: ci

#15 Changed default features.
  .github/workflows/ci.yaml
  .github/workflows/release-tools.yml
  common/dnode-rest-client/Cargo.toml
  dove/Cargo.toml
  executor/tests/test_executor.rs
  lang/disassembler/Cargo.toml
  lang/tests/compat.rs
  language_server/Cargo.toml
  resource-viewer/Cargo.toml
Labels: ci, disassembler, resource viewer

#16 Fix for resource viewer get_resource function.
  Cargo.lock
  resource-viewer/Cargo.toml
  resource-viewer/src/sp_client.rs
Labels: resource viewer

#17 Changed module access path.
  Cargo.lock
  resource-viewer/src/sp_client.rs
Labels: resource viewer

#18 updated links
  README.md
  resource-viewer/README.md
Labels: documentation, resource viewer
