Repository pontem-network/dove, pull requests merged in 2021-09, with the labels that each got.

#139 Update: link to ide
  README.md
Labels: documentation

#111 Nix environment fixes
  .github/workflows/nix.yaml
  Cargo.lock
  dove/Cargo.toml
  flake.lock
  flake.nix
  lang/Cargo.toml
  lang/compat/Cargo.toml
  lang/decompiler/Cargo.toml
  language_server/Cargo.toml
  net/Cargo.toml
  resource-viewer/Cargo.toml
Labels: resource viewer, compat, ci, decompiler

#140 MoveFile structure removed
  Cargo.lock
  lang/src/compiler/file.rs
  language_server/src/global_state.rs
  language_server/src/inner/analysis.rs
  language_server/src/inner/change.rs
  language_server/src/inner/db.rs
  language_server/src/main_loop.rs
  language_server/tests/test_compilation_check.rs
  language_server/tests/test_lsp.rs
Labels: compiler

#144 Save metadata and system folder
  dove/src/context.rs
  dove/src/lib.rs
  dove/src/manifest.rs
  dove/src/metadata.rs
  dove/src/tx/resolver.rs
  lang/src/compiler/file.rs
  lang/src/compiler/metadata/mod.rs
  lang/src/compiler/metadata/spanned.rs
Labels: compiler

#141 updated MetaData
  Cargo.lock
  dove/src/context.rs
  dove/src/lib.rs
  dove/src/manifest.rs
  dove/src/metadata.rs
  dove/src/tx/fn_call.rs
  dove/src/tx/resolver.rs
  lang/src/compiler/file.rs
  lang/src/compiler/metadata.rs
  lang/src/compiler/metadata/mod.rs
  lang/src/compiler/metadata/spanned.rs
Labels: compiler
